body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


main {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}


article {
    margin-top: 20px;
    font-size: 18px;
}
